@using System.Web.Mvc.Html
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Desig.Net</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar-custom navbar navbar-inverse navbar-fixed-top">
    <div class="nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><strong>Desig</strong>.net</div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">
    <div class="col-xs-1 col-sm-1 sidebar">
        <ul class="nav" id="menu">
            <li><a href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span></a></li>
        </ul>
    </div>
</div>

<div class="col-xs-2 col-sm-2 sidebar-customer" id="list-customer">        
    <div id="addCustomer">
        <div class="input-group col-md-12">
            <input data-bind="value: $root.Name" class="form-control" type="text" title="Name" />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" data-bind="click: $root.create" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </span>
            </div>
        </div>
    <div></div>

    <ul id="customer-list" data-bind="foreach: Customers">
        <li class="list" data-bind="click: $root.test">
            <label class="name" data-bind="text: Name"></label> 
            <div class="pull-right dropdown">
                <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" data-bind="click: $root.test">Edit Customer</a></li>
                    <li><a href="#" data-bind="click: $root.delete">Delete Customer</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>         
        </li>
    </ul>
</div>
<div class="col-xs-8 col-sm-8" id="list-order">
    <div id="addOrder">
        <div class="input-group col-md-12">
            <input class="form-control" type="text" title="Order" data-bind="value:$root.Description"/>
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" data-bind="click:$root.create" type="button">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </span>
        </div>
    </div>
    <ul data-bind="foreach:Orders" id="order-list">
        <li class="list">
            <label data-bind="text:Description"></label>
            <div class="pull-right">
                <button class="btn btn-xs" data-bind="click: $root.deleteOrder" type="button">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button class="btn btn-xs" data-bind="click: $root.showDetails" type="button">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            </div>
        </li>
    </ul>
</div>
    
    <div class="popup" id="editOrder">
        <div class="popup-inner" data-bind="if: Order">
            <h3>Edit your Order</h3>
            <p>Created at:</p>
            <p data-bind="text:Order().Created"></p>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" data-bind="value: Order().Description"></textarea>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" data-bind="value: Order().Price"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" id="DateTimeCheckbox" value="">Deadline</label>
                </div>
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Edit</button>
                    <button type="submit" class="btn btn-danger" data-bind="click:$root.close">Cancel</button>
                </div>
            </div>
        </div>       
    </div>   

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="/Scripts/moment.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/knockout-3.4.1.debug.js"></script>
    <script type="text/javascript" src="/Scripts/knockout-postbox.js"></script>
    <script type="text/javascript" src="/Scripts/Apps.js"></script>
    <script type="text/javascript" src="/Scripts/App/CustomerMenus.js"></script>
    <script type="text/javascript" src="/Scripts/App/EditOrders.js"></script> 
    

</body>
</html>
